*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filter-buttons{
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: var(--max-width);
    justify-content: space-between;

    span{
        width: 100%;
    }

    .filter-button{
        padding: 2px;
        text-decoration: none;
        color: var(--color-text);
        font-size: 0.9rem;
        transition: color var(--transition-base);
        &:hover{
            color: var(--color-link);
        }
        &::after{
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background-color: var(--color-link);
            transition: width var(--transition-base);
        }
        &:hover::after{
            width: 100%;
        }
    }
}
.vehicle-grid{
    display: grid;
    gap: calc(var(--base-spacing ) * 1.5);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto 200px 50px;
    align-items: center;

    .vehicle-card{
        display: grid;
        grid-row: span 3;
        grid-template-rows: subgrid;
        width: 100%;
        background-color: var(--color-primary);
        border-radius: var(--border-radius);
        margin-bottom: var(--base-spacing);
        text-align: center;
        padding: var(--base-spacing);
        box-sizing: border-box;

        a{
            text-decoration: none;
            
            h3{
                color: var(--color-text);
            }
    
            .vehicle-image{
                width: 100%;
                border-radius: var(--border-radius);
            }
        }

        .vehicle-info {
            display: flex;
            flex-direction: column;
            background-color: var(--color-background);
            border-radius: var(--border-radius);
            align-items: center;
            
            .description{
                grid-area: description;
                text-align: center;
            }
        }
    }
}

@supports (grid-template-rows: subgrid) {
    .card-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: auto 200px 1fr;
    }
    .card {
        grid-row: span 3;
        grid-template-rows: subgrid;
    }
}



