/* Base styles */
:root {
    /* Light Mode Colors */
    --color-background: oklch(0.9278 0.0046 34.31) /* #eae6e5 */;
    --color-primary: oklch(0.6142 0.0701 163.87) /* #5b9279 */;
    --color-secondary: oklch(0.7882 0.0918 150.09) /* #8FCB9B */;
    --color-accent: oklch(0.6097 0.0266 63.23) /* #8f8073 */;

    --color-text: oklch(0.3073 0.0029 17.31) /* #312f2f */;
    --color-text-accent: var(--color-background, #eae6e5);
    --color-link: color-mix(in oklch, var(--color-text), var(--color-accent) 60% );
    --color-link-hover: var(--color-accent);

    --color-button: var(--color-secondary);
    --color-button-hover: color-mix(in oklch, var(--color-button), black 15% );

    --color-border: color-mix(in oklch, var(--color-primary), black 20% );


    /* Universal variables */
    --font-headers: 'Rock Salt', cursive;
    --font-sans: 'Inter Variable', system-ui, sans-serif;
    --font-serif: Georgia, serif;

    --base-spacing: 1rem;
    --border-radius: 1rem;

    --button-padding: .75rem;
}

.dark-theme {
    --color-background: oklch(0.3073 0.0029 17.31) /* #312f2f */;
    --color-primary: color-mix(in oklch, oklch(0.6142 0.0701 163.87) /* #5b9279 */, black 30% );
    --color-secondary: color-mix(in oklch, #8fcb9b, black 30% );
    --color-accent: color-mix(in oklch,oklch(0.6097 0.0266 63.23), black 20%) /* #8f8073 */;

    --color-text: oklch(0.9278 0.0046 34.31) /* #eae6e5 */;
    --color-link: color-mix(in oklch, var(--color-text), var(--color-accent) 60% );
    --color-link-hover: color-mix(in oklch, var(--color-link), oklch(0.3073 0.0029 17.31) /* #312f2f */ 40% );

    --color-button: var(--color-secondary);
    --color-button-hover: color-mix(in oklch, var(--color-button), black 15% );}

body{
    width: 100%;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-sans);
}

.site-header{
   width: 100%;
   height: var(--nav-height);
   background-color: var(--color-primary);
   border-bottom: 1px solid var(--color-border);
   
   .nav-logo{
       width: 25%;
       border-radius: 50%;
   
       @media screen and (min-width: 768px) {
           width: 10%;
       }
   }

   .site-nav{
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: var(--max-width);
      margin: 0 auto;
      padding: 0 var(--gutter);
      height: var(--nav-height);
      justify-content: space-between;
      
      .nav-links{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        
        .nav-link{
            text-decoration: none;
            color: var(--color-text);
            font-size: 0.9rem;
            transition: color var(--transition-base);
            &:hover{
                color: var(--color-text-accent);
            }
            &::after{
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background-color: var(--color-link);
                transition: width var(--transition-base);
            }
            &:hover::after{
                width: 100%;
            }
        }
      }
   }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button{
    text-decoration: none;
    color: var(--color-text);
    font-size: 0.9rem;
    transition: color var(--transition-base);
    &:hover{
        color: var(--color-text-accent);
    }
    &::after{
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: var(--color-link);
        transition: width var(--transition-base);
    }
    &:hover::after{
        width: 100%;
    }
}

.hero{
    background-color: var(--color-accent);
    text-align: center;
    width: 100%;
    align-items: center;
    padding: var(--base-spacing);

    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            color: var(--color-text-accent);
        }

        .hero-buttons{
            display: flex;
            flex-direction: row;
            gap: 1.5rem;

            .button{
                color: var(--color-text-accent);

                &:hover{
                    color: var(--color-text);
                }
            }
        }
    }
}

.vehicle-card{
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    padding: var(--base-spacing);
    text-align: center;

    .vehicle-image{
        width: 100%;
        border-radius: var(--border-radius);
    }

    .vehicle-info {
        background-color: var(--color-background);
        border-radius: var(--border-radius);
        
        .price{
            background-color: var(--color-button);
            color: var(--color-text);
            border: none;
            border-radius: calc(var(--border-radius) * .5);
            padding: calc(var(--base-spacing) * .5) calc(var(--base-spacing) * .35);
            cursor: pointer;

            &:hover{
                background-color: var(--color-button-hover);
                color: var(--color-text-accent)
            }
        }
    }
}

.site-footer {
    background-color: var(--color-primary);
    height: 100px;
}