/* Base styles */
:root {
    /* Light Mode Colors */
    --color-background: oklch(0.9278 0.0046 34.31) /* #eae6e5 */;
    --color-primary: oklch(0.6142 0.0701 163.87) /* #5b9279 */;
    --color-secondary: oklch(0.7882 0.0918 150.09) /* #8FCB9B */;
    --color-accent: oklch(0.6097 0.0266 63.23) /* #8f8073 */;

    --color-text: oklch(0.3073 0.0029 17.31) /* #312f2f */;
    --color-text-muted: color-mix(in oklch, var(--color-text), oklch(0.9278 0.0046 34.31) 30% );
    --color-text-accent: var(--color-background, #eae6e5);
    --color-link: color-mix(in oklch, var(--color-text), var(--color-accent) 60% );
    --color-link-hover: var(--color-accent);

    --color-button: var(--color-secondary);
    --color-button-hover: color-mix(in oklch, var(--color-button), black 15% );

    --color-border: color-mix(in oklch, var(--color-primary), black 20% );


    /* Universal variables */
    --font-headers: 'Rock Salt', cursive;
    --font-sans: 'Inter Variable', system-ui, sans-serif;
    --font-serif: Georgia, serif;

    --base-spacing: 1rem;
    --border-radius: 1rem;

    --button-padding: .75rem;

    
}

.dark-theme {
    --color-background: oklch(0.3073 0.0029 17.31) /* #312f2f */;
    --color-primary: color-mix(in oklch, oklch(0.6142 0.0701 163.87) /* #5b9279 */, black 30% );
    --color-secondary: color-mix(in oklch, #8fcb9b, black 30% );
    --color-accent: color-mix(in oklch,oklch(0.6097 0.0266 63.23), black 20%) /* #8f8073 */;

    --color-text: oklch(0.9278 0.0046 34.31) /* #eae6e5 */;
    --color-link: color-mix(in oklch, var(--color-text), var(--color-accent) 60% );
    --color-link-hover: color-mix(in oklch, var(--color-link), oklch(0.3073 0.0029 17.31) /* #312f2f */ 40% );

    --color-button: var(--color-secondary);
    --color-button-hover: color-mix(in oklch, var(--color-button), black 15% );
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-sans);
    height: 100%;
}

.site-header{
   width: 100%;
   background-color: var(--color-primary);
   border-bottom: 1px solid var(--color-border);
   padding: calc(var(--base-spacing) * 0.5);
   display: grid;
   grid-template-areas: 
   "logo name name"
   "nav  nav nav";
   grid-template-columns: 1fr 1fr 1fr;
   
   .nav-logo{
       width: 100px;
       border-radius: 50%;
       grid-area: logo;
       padding: calc(var(--base-spacing) * 0.5);
   }

   .name{
        grid-area: name;
        text-align: center;
        font-size: 1.5rem;
   }

   .site-nav{
      grid-area: nav;
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: var(--max-width);
      justify-content: space-between;
      
      .nav-links{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin: 0;
        padding: 0;
        
        .nav-link{
            text-decoration: none;
            color: var(--color-text);
            font-size: 0.9rem;
            transition: color var(--transition-base);
            &:hover{
                color: var(--color-text-accent);
            }
            &::after{
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background-color: var(--color-link);
                transition: width var(--transition-base);
            }
            &:hover::after{
                width: 100%;
            }
        }
      }
   }
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(135deg, var(--color-background) 30%, var(--color-secondary) 70%);
}

.button{
    text-decoration: none;
    color: var(--color-text);
    font-size: 0.9rem;
    transition: color var(--transition-base);
    &:hover{
        color: var(--color-text-accent);
    }
    &::after{
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: var(--color-link);
        transition: width var(--transition-base);
    }
    &:hover::after{
        width: 100%;
    }
}

.hero{
    background-color: var(--color-accent);
    text-align: center;
    width: 100%;
    align-items: center;
    padding: var(--base-spacing);

    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--base-spacing);

        p{
            color: var(--color-text-accent);
        }

        .hero-buttons{
            display: flex;
            flex-direction: row;
            gap: 1.5rem;

            .button{
                color: var(--color-text-accent);

                &:hover{
                    color: var(--color-text);
                }
            }
        }
    }
}

.about{
    padding: var(--base-spacing);
    text-align: center;

    p{
        text-align: start;
    }
}

.featured-grid{
    display: grid;
    gap: calc(var(--base-spacing ) * 1.5);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto 200px 50px;
    align-items: center;
    .vehicle-card{
        display: grid;
        grid-row: span 3;
        grid-template-rows: subgrid;
        width: 100%;
        background-color: var(--color-primary);
        border-radius: var(--border-radius);
        margin-bottom: var(--base-spacing);
        text-align: center;
        padding: var(--base-spacing);
        box-sizing: border-box;

        a{
            text-decoration: none;
            
            h3{
                color: var(--color-text);
            }
    
            .vehicle-image{
                width: 100%;
                border-radius: var(--border-radius);
            }
        }

        .vehicle-info {
            display: grid;
            grid-template-areas:
            "description description"
            "mileage mileage"
            "price price"
            "date date";
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;
            background-color: var(--color-background);
            border-radius: var(--border-radius);
            align-items: center;
            
            .description{
                grid-area: description;
                text-align: center;
            }

            .mileage{
                grid-area: mileage;
                text-align: center;
            }

            .price{
                grid-area: price;
                background-color: var(--color-button);
                color: var(--color-text);
                border: none;
                border-radius: calc(var(--border-radius) * .5);
                padding: calc(var(--base-spacing) * .5) calc(var(--base-spacing) * .35);
                cursor: pointer;
                text-align: center;
                margin: 0 auto;
            }

            .date{
                grid-area: date;
                text-align: center;
            }
        }
    }
}

@supports (grid-template-rows: subgrid) {
    .card-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: auto 200px 50px;
    }
    .card {
        grid-row: span 3;
        grid-template-rows: subgrid;
    }
}

ul{
    list-style: none;
}

.info-container{
    display: grid;
    gap: calc(var(--base-spacing ) * 1.5);
    grid-template-columns: 1fr;
    align-items: center;
    
    .why-us{
        padding: var(--base-spacing);
    }
    
    .services{
        padding: var(--base-spacing);
        ul{
            align-self: center;
            background-color: var(--color-background);
            padding: var(--base-spacing);
            border-radius: var(--border-radius);
            
        }
    }
    
    .reviews{
        width: 100%;
        padding: var(--base-spacing);
        background: color-mix(in oklch, var(--color-background), var(--color-accent) 50%);
        border-radius: var(--border-radius);
        p{
            text-align: center;
        }
    }
    
    .cta{
        padding: var(--base-spacing);
        text-align: center;
        a{
            text-decoration: none;
            color: var(--color-link);
    
            &:hover{
                color: var(--color-link-hover);
                text-decoration: underline;
            }
        }
    }
}

.site-footer {
    background-color: var(--color-primary);
    display: grid;
    gap: var(--base-spacing);
    grid-template-areas:
        "contact hours"
        "copyright socials";
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid var(--color-border);
    padding: var(--base-spacing);
    color: var(--color-text-accent);

    .copyright {
        grid-area: copyright;
    }

    .socials {
        grid-area: socials;
        display: flex;
        flex-direction: row;
        text-align: right;

        a {
            color: var(--color-text-accent);

            &:hover {
                color: var(--color-link-hover);
            }
        }
    }

    .contact {
        grid-area: contact;
    }

    .hours {
        grid-area: hours;
    }
}